<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      
      <p> Cerebrum </p>
      <P> It means brain.</P>
      <p> Functionality:</p>
      <ul>
          <li>Reasoning</li>
          <li>Recognition</li>
          <li>Visual processing</li>
          <li>Speech</li>
      </ul>
  </body>
</html>