<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Replace Functionalities for <%= part.name %></h1> 
      
      <!--<p> name: <%= title %> </p>-->
      <form class="form-horizontal" action="" method="post" role="form">
          
          <p> Please separate functionalities with commas.  </p>
          <table>
                        
        <tr>
        <td>Functionality</td>
        <td>
            <input type="text" name="formfunc" value="<%= part.functionalities %>">
        </td>
        </tr>
              
              
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
          </form>
      
    
  </body>
</html>
